<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>


	<section>

		<div class="card">

			<div class="card-body">

				<div class="text-center">
					<img style="width: 250px; height: 250px;" class="profile_image"
						th:src="@{/img/default_contact.png}">


					<h1 class="text-secondary mt-4 font-italic font-weight-light">Start Adding Your Contact On Cloud...</h1>
					
					<a th:href="@{/user/add-contact}" class="btn btn-sm btn-block btn-primary mt-4">Add New Contact</a>
					
					

				</div>

			</div>
		</div>

	</section>

</body>
</html>